<form class="form-horizontal" #frm="ngForm" (ngSubmit)="onSubmit(frm)" >
  <fieldset>
    <div id="legend">
      <legend class="">Register Using Template Driven</legend>
    </div>
    <div class="control-group">
      <!-- Username -->
      <label class="control-label" for="username">Username</label>
      <div class="controls">
        <input 
          type="text" 
          name="usNm" 
          placeholder="" 
          class="input-xlarge"
          [(ngModel)]="frmDt.usNm"
          required
          #un="ngModel">
        <p class="help-block" *ngIf="!un.valid">Username can contain any letters or numbers, without spaces</p>
      </div>
    </div>

    <div class="control-group">
      <!-- E-mail -->
      <label class="control-label" for="email">E-mail</label>
      <div class="controls">
        <input 
          type="text" 
          name="eml" 
          placeholder="" 
          class="input-xlarge"
          [(ngModel)]="frmDt.eml"
          required
          #em="ngModel"
          pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"> {{em.valid}}
        <p class="help-block" *ngIf="!em.valid">Please provide your E-mail</p>
      </div>
    </div>

    <div class="control-group">
      <!-- Password-->
      <label class="control-label" for="password">Password</label>
      <div class="controls">
        <input 
          type="password" 
          name="pass" 
          placeholder="" 
          class="input-xlarge"
          [(ngModel)]="frmDt.pass"
          [required]="em.valid"
          #ps="ngModel"> 
        <p class="help-block" *ngIf="!ps.valid">Password should be at least 4 characters</p>
      </div>
    </div>

    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button type="submit" class="btn btn-success" [disabled]="!frm.valid">Register</button>
      </div>
    </div>
  </fieldset>
</form>
